---
import InfoCard from "./InfoCard.astro";
import { FEATURES_ID } from "../../../constants/DefaultValueConstants.ts";
import CardInfo from "../../../classes/CardInfo.ts";

interface Props {
    cards?: CardInfo[];
}

const { 
    cards = [new CardInfo()],
} = Astro.props;
---

<div class={"flex flex-wrap justify-center content-center w-full"} id={FEATURES_ID}>
    {cards.map((card) => 
        <InfoCard 
            iconName={card.iconName}
            cardTitle={card.cardTitle}
            description={card.description}
        />        
    )}               
</div>