---
import InfoCard from "./InfoCard.astro";
---

<div class={"flex flex-wrap justify-center content-center w-full"}>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
</div>