---
import Layout from '../../layouts/Layout.astro';
import { getPosts } from '../../utils/GeneralUtils.ts';
import PostInfo from '../../classes/PostInfo.ts';
import Post from '../../components/Blog/Post.astro';
const posts: PostInfo[] = getPosts();
---

<Layout title="Blog">
    <ul class="list">
        {posts.map((post: PostInfo) => {
            return (
            <li class="list-row">
                <Post post={post}></Post>      
            </li>                
            )
        })}        
    </ul>
</Layout>
