---
import Layout from '../../layouts/Layout.astro';
import { getPosts, getPostInfo } from '../../utils/GeneralUtils.ts';
import PostContainer from '../../components/Blog/PostContainer/PostContainer.astro'
import PostInfo from '../../classes/PostInfo.ts';
const posts = getPosts();
---

<Layout title="Blog">
    <PostContainer />
    {posts.map((post: any) => {
        return (
            <code>{JSON.stringify(post)}</code>
            <a href={post?.url}><p>{post?.url}</p></a>
        )
    })}
</Layout>
