---
import Layout from '../../layouts/Layout.astro';
import { getPosts, getTrueHomeURL } from '../../utils/GeneralUtils.ts';
import PostInfo from '../../classes/PostInfo.ts';
import Post from '../../components/Blog/Post.astro';
import BlogBase from '../../components/Blog/BlogBase.astro';
import GoBackButton from '../../components/Buttons/GoBackButton.astro';
const posts: PostInfo[] = getPosts();
const HOME_URL: string = getTrueHomeURL(Astro);
---

<Layout title="Blog">
    <BlogBase>
        <ul class="list">
            <li class="list-row">
                <GoBackButton buttonUrl={HOME_URL}>      
            </li>              
            {posts.map((post: PostInfo) => {
                return (
                <li class="list-row">
                    <Post post={post}></Post>      
                </li>                
                )
            })}
            <li class="list-row">
                <GoBackButton buttonUrl={HOME_URL}>      
            </li>  
        </ul>
    </BlogBase>
</Layout>
