---
import Layout from '../../layouts/Layout.astro';
import { getPosts, getPostInfo } from '../../utils/GeneralUtils.ts';

const posts = getPosts();
let currentPost = null;
---

<Layout title="Blog">
    {posts.map((post: any) => {
        currentPost = getPostInfo(post);
        return (
            <code>{JSON.stringify(currentPost)}</code>
            <a href={post?.url}><p>{post?.url}</p></a>
        )
    })}
</Layout>
