---
import InfoCard from "./InfoCard.astro";
---

<div class="flex flex-auto">
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
    <InfoCard></InfoCard>
</div>