---
import { Icon } from 'astro-icon/components';
import { DEFAULT_BUTTON_LABEL, DEFAULT_LINK } from '../../constants/DefaultValueConstants.ts';
import { DEFAULT_SIDEMARGIN } from '../../constants/TailwindConstants.ts';
import { getAbsoluteURL } from '../../utils/GeneralUtils.ts';
import { DEFAULT_ICON_NAME } from '../../constants/IconConstants.ts';

interface Props {
    iconName?: string;
    name?: string;
    destination?: string;
}

const { 
    iconName = DEFAULT_ICON_NAME,
    name = DEFAULT_BUTTON_LABEL, 
    destination = DEFAULT_LINK, 
} = Astro.props;
---

<li class={DEFAULT_SIDEMARGIN}>
    <a href={getAbsoluteURL(Astro, destination)} class="text-secondary">
        <Icon name={iconName}/>{name}
    </a>
</li>