---
import { Icon } from "astro-icon/components";
import { DEFAULT_APPLICATION_NAME, DEFAULT_ICON_NAME, DEFAULT_LINK } from "../../constants/DefaultValueConstants.ts";
import { DEFAULT_HALFSIDEMARGIN, NAVBAR_LEFTSIDE_CLASS } from "../../constants/TailwindConstants.ts";
import { HOME_DIRECTORY } from "../../constants/DefaultValueConstants.ts";
---

<div class={NAVBAR_LEFTSIDE_CLASS}>
    <a class={"btn btn-ghost text-xl " + DEFAULT_HALFSIDEMARGIN} href={HOME_DIRECTORY}>
        <Icon name={DEFAULT_ICON_NAME} />
        {DEFAULT_APPLICATION_NAME}
    </a>
</div>