---
import { Icon } from 'astro-icon/components';
import { DEFAULT_BUTTON_LABEL, DEFAULT_ICON_NAME, DEFAULT_LINK } from '../../constants/DefaultValueConstants.ts';

interface Props {
    iconName?: string;
    name?: string;
    destination?: string;
}

const { 
    iconName = DEFAULT_ICON_NAME,
    name = DEFAULT_BUTTON_LABEL, 
    destination = DEFAULT_LINK
} = Astro.props;
---

<li><a href={destination}><Icon name={iconName}/>{name}</a></li>