---
import { DEFAULT_APPLICATION_NAME } from "../../constants/DefaultValueConstants.ts";
import { NAVBAR_LEFTSIDE_CLASS, NAVBAR_LIST_EXTRACLASSES, NAVBAR_RIGHTSIDE_CLASS } from "../../constants/TailwindConstants.ts";
---

<div class="navbar bg-base-100 shadow-sm">
    <div class={NAVBAR_LEFTSIDE_CLASS}>
        <a class="btn btn-ghost text-xl">{DEFAULT_APPLICATION_NAME}</a>
    </div>
    <div class={NAVBAR_RIGHTSIDE_CLASS}>
        <ul class={"menu menu-horizontal px-1 " + NAVBAR_LIST_EXTRACLASSES}>
            <slot />
        </ul>    
    </div>
</div>

<!-- <li>
    <details>
        <summary>Parent</summary>
        <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
        </ul>
    </details>
</li> -->