---
interface Props {
    cardTitle?: string;
    description?: string;
}

const { 
    cardTitle = "Card Title",
    description = "A card component has a figure, a body part, and inside body there are title and actions parts.",
} = Astro.props;
---

<div class="card card-border bg-base-100 w-96">
    <div class="card-body">
        <h2 class="card-title"><slot />{cardTitle}</h2>
        <p>{description}</p>
    </div>
</div>
