---
import { HEADER_FOOTER_CLASS } from "../../constants/TailwindConstants.ts";
import { DEFAULT_APPLICATION_NAME, DEFAULT_ICON_NAME, DEFAULT_SLOGAN } from "../../constants/DefaultValueConstants";
import FooterLink from "./FooterLink.astro";
import { Icon } from "astro-icon/components";
---

<footer class={"footer sm:footer-horizontal " + HEADER_FOOTER_CLASS + " p-10"}>
  <aside>
    <Icon name={DEFAULT_ICON_NAME} class="text-5xl" />
    <p>
      {DEFAULT_APPLICATION_NAME}
      <br />
      {DEFAULT_SLOGAN}
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Redes Sociales</h6>
    <div class="grid grid-flow-col gap-4">
      <FooterLink></FooterLink>
      <FooterLink></FooterLink>
      <FooterLink></FooterLink>
    </div>
  </nav>
</footer>
