---
import { HEADER_FOOTER_CLASS } from "../../constants/TailwindConstants.ts";
import { DEFAULT_APPLICATION_NAME, DEFAULT_ICON_NAME, CURRENT_YEAR, APP_ICON_NAME } from "../../constants/DefaultValueConstants.ts";
import FooterLink from "./FooterLink.astro";
import { Icon } from "astro-icon/components";
---

<footer class={"footer sm:footer-horizontal " + HEADER_FOOTER_CLASS + " p-10"}>
  <aside>
    <Icon name={APP_ICON_NAME} class="text-5xl" />
    <p>
      <span class="font-semibold">{DEFAULT_APPLICATION_NAME}</span>
      <br />
      Copyright &copy; <span id="copyright">{CURRENT_YEAR}</span>. Todos los derechos reservados.
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Redes Sociales</h6>
    <div class="grid grid-flow-col gap-4">
      <FooterLink></FooterLink>
      <FooterLink></FooterLink>
      <FooterLink></FooterLink>
    </div>
  </nav>
</footer>

<script>
  import { getYear } from "../../utils/GetYear.ts";

  if (document && (typeof(document) === "object")) {
    document.querySelector("#copyright")!.textContent = getYear(new Date())  
  }
</script>