---
import { Icon } from "astro-icon/components";
import { DEFAULT_ICON_NAME } from "../../../constants/DefaultValueConstants.ts";
import { MIDDLE_ALIGNER, DARKER_TEXT } from "../../../constants/TailwindConstants.ts";
import { descriptionGenerator } from "../../../utils/GeneralUtils.ts";
---

<ul class="list">
  <li class="list-row">

  </li>
</ul>