<div class="w-max max-w-max min-w-max flex flex-col align-middle items-center self-center content-evenly">
    <div class="w-3xl bg-base-200 rounded-xl card card-border ml-2 mr-2 mt-2 mb-2 max-w-screen">
        <slot />
    </div>
</div>