---
import { Icon } from "astro-icon/components";
import { DEFAULT_ICON_NAME } from "../../constants/DefaultValueConstants.ts";
import { descriptionGenerator } from "../../utils/GeneralUtils.ts";
import PostInfo from "../../classes/PostInfo.ts";
import PostData from "./PostData.astro";
import ReadButton from "../Buttons/ReadButton.astro";

interface Props {
    post?: PostInfo,
}

const { 
    post = new PostInfo(),
} = Astro.props;
---

<div>
    <PostData post={post}/>
    <p class="mt-2">{descriptionGenerator(post.description)}</p>
    <ReadButton buttonUrl={post.URL}></ReadButton>
</div>