---
import "../assets/app.css";
import NavbarMain from "../components/Navbar/NavbarMain.astro";
import NavbarLink from "../components/Navbar/NavbarLink.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<NavbarMain>
			<NavbarLink></NavbarLink>
			<NavbarLink></NavbarLink>
			<NavbarLink></NavbarLink>
			<NavbarLink></NavbarLink>
		</NavbarMain>
		<slot />
	</body>
</html>